# Large dataset folders
data/FashionMNIST
data/cifar-100-python
data/cifar-10-batches-py

# Large binary dataset files
data/cifar-10-python.tar.gz
data/cifar-100-python.tar.gz

# IDE files
.idea/

#Compiled python files
*.pyc

# Trained Models
SavedModels/
SavedModels_2/
SavedModels_3/
SavedModels4/
